{% extends 'base_board.html' %}
{% load static %}

{% block links %}
    <link href="{% static 'dashboard/plugins/multi-select/css/multi-select.css' %}" rel="stylesheet" />

    <link href="{% static 'dashboard/plugins/bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet" />
    <link href="{% static 'css/tokenize2.min.css' %}" rel="stylesheet" />
{#    <link href="{% static 'css/scss/style.scss' %}" rel="stylesheet" />#}
    <link href="{% static 'css/mdl_file.css' %}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'ru:dashboard_ru:base_board' user.id %}">
                <i class="mdi mdi-home f_s_15"></i> Домой
            </a>
        </li>
        <li class="active">
            <a href="{% url 'ru:dashboard_ru:companies_list' %}">
                <i class="mdi mdi-account-multiple f_s_15"></i> Юр. лица
            </a>
        </li>
        <li class="active">
            <i class="mdi mdi-account-plus f_s_15"></i> {% if new %}Добавление юр. лица{% else %}{{ company.property.short_name }} "{{ company.name }}"{% endif %}
        </li>
    </ol>

{% endblock %}



{% block content %}
    <div class="card">
        <div class="header bg-cyan">
            <h2>
                {% if new %}Добавление юр. лица{% else %}{{ company.property.short_name }} "{{ company.name }}"{% endif %}
            </h2>
        </div>
            <div class="body">

                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active"><a href="#info" data-toggle="tab">ИНФО <span class="label-count background-transparent none" id="info_label"><i class="mdi mdi-content-save"></i></span></a></li>
                </ul>
                    <div class="tab-content padding-top-30">
                        <form action="" method="post" id="form_info">{% csrf_token %}
                            <div role="tabpanel" class="tab-pane fade in active" id="info">
                            {% if user_profile.role.role_name != 'Клиент' %}
                                <div class="row clearfix">
                                    <div class="col-md-6 col-xs-12">
                                        <h2 class="card-inside-title">Клиент</h2>

                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="mdi mdi-account f_s_20 pointer-pure"></i>
                                            </span>
                                            <div class="form-line">
                                                <p id="client" class="form-control pointer-pure" data-toggle="modal" data-target="#clients_modal">{{ company.user.first_name }}, {{ company.user.username }}</p>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                        <!-- Default Size modal список существующих клиентов-->
                                            <div class="modal fade" id="clients_modal" tabindex="-1" role="dialog">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="defaultModalLabel">Выберите клиента</h4>
                                                        </div>
                                                        <div class="modal-body">
                                {#                            {% for client in clients %}#}
                                                            <table class="table table-bordered table-striped table-hover dataTable js-basic-example">
                                                                <thead>
                                                                    <tr>
                                                                        <th>ID</th>
                                                                        <th>Имя</th>
                                                                        <th>Телефон</th>
                                                                        <th>Email</th>
                                                                    </tr>
                                                                </thead>
                                                                <tfoot>
                                                                        <th>ID</th>
                                                                        <th>Имя</th>
                                                                        <th>Телефон</th>
                                                                        <th>Email</th>

                                                                </tfoot>
                                                                <tbody>
                                                                {% for client in clients %}

                                                                    <tr class="client_existing pointer-pure" id="{{ client.id }}">
                                                                        <td>
                                                                            {{ client.id }}
                                                                        </td>
                                                                        <td>{{ client.name }}</td>
                                                                        <td>{{ client.tel }}</td>
                                                                        <td>{{ client.email }}</td>

                                                                    </tr>

                                                                {% endfor %}

                                                                </tbody>
                                                            </table>




                                {#                                {{ client.name }}#}
                                {#                            {% endfor %}#}
                                                        </div>
                                                        <div class="modal-footer">
                                {#                            <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>#}
                                                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal" id="close_modal_select_client_btn">ЗАКРЫТЬ</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- modal end-->

                                {% endif %}


                                <div class="row clearfix">
                                    <div class="col-md-6 col-xs-12">
                                        <h2 class="card-inside-title">Название</h2>

                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="mdi mdi-format-color-text f_s_20"></i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" class="form-control" placeholder="Название" id="name_company" name="name_company" value="{% if not new %}{{ company.name }}{% endif %}">

                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6  col-xs-12">
                                        <h2 class="card-inside-title">Форма собственности</h2>

                                            <select class="form-control show-tick" id="property" name="property">
                                                <option value="">--  --</option>
                                                {% for property in properties %}
                                                <option value="{{ property.id }}" {% if company.property == property %} selected {% endif %}>{{ property.name }}</option>
                                                {% endfor %}
                                            </select>

                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-4 col-xs-12">
                                    <h2 class="card-inside-title">ИНН</h2>
                                        <div class="input-group">
                                            <div class="form-line">
                                                <input type="text" class="form-control" placeholder="ИНН" id="inn_company" name="inn_company" value="{% if not new %}{{ company.inn }}{% endif %}">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                    <h2 class="card-inside-title">КПП</h2>
                                        <div class="input-group">
                                            <div class="form-line">
                                                <input type="text" class="form-control" placeholder="КПП" id="kpp_company" name="kpp_company" value="{% if not new %}{{ company.kpp }}{% endif %}">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                    <h2 class="card-inside-title">ОГРН</h2>
                                        <div class="input-group">
                                            <div class="form-line">
                                                <input type="text" class="form-control" placeholder="ОГРН" id="ogrn_company" name="ogrn_company" value="{% if not new %}{{ company.ogrn }}{% endif %}">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <h2 class="card-inside-title">Адрес</h2>
                                <div class="row clearfix">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="input-group">
                                            <div class="form-line">
                                                <textarea rows="4" class="form-control" placeholder="Адрес..." id="address_company" name="address_company">{% if not new %}{{ company.address }}{% endif %}</textarea>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="body">

                                    </div>
                                    <div class="col-sm-12 col-xs-12 none" id="btn_save_info">
                                        <button type="button" class="btn bg-cyan btn-block btn-lg waves-effect" id="save_info_btn">СОХРАНИТЬ</button>
                                    </div>

                                </div>
                            </div>
{#                            <input name="new_manager" value="yes" class="none"/>#}

{#                            <input name="testimonial_id" value="{{ testimonial.id }}" class="none"/>#}

                        </form>

                    </div>


            </div>

    </div>
{% endblock %}

{% block script %}

    <script src="{% static 'js/mdl_file.js' %}"></script>
{#    <script src="{% static 'dashboard/plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>#}
{#    <script src="{% static 'dashboard/plugins/multi-select/js/jquery.multi-select.js' %}"></script>#}
{#    <script src="{% static 'dashboard/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js' %}"></script>#}
{#    <script src="{% static 'dashboard/plugins/dropzone/dropzone.js' %}"></script>#}
{#    <script src="{% static 'dashboard/plugins/jquery-inputmask/jquery.inputmask.bundle.js' %}"></script>#}
{#    <script src="{% static 'dashboard/plugins/nouislider/nouislider.js' %}"></script>#}
    <script src="{% static 'js/moment_ru.js' %}"></script>
    <script src="{% static 'js/tokenize2.min.js' %}"></script>

    <script src="{% static 'dashboard/plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dashboard/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'dashboard/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'dashboard/plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>
    <script src="{% static 'dashboard/plugins/jquery-datatable/extensions/export/jszip.min.js' %}"></script>
    <script src="{% static 'dashboard/plugins/jquery-datatable/extensions/export/pdfmake.min.js' %}"></script>
    <script src="{% static 'dashboard/plugins/jquery-datatable/extensions/export/vfs_fonts.js' %}"></script>
    <script src="{% static 'dashboard/plugins/jquery-datatable/extensions/export/buttons.html5.min.js' %}"></script>
    <script src="{% static 'dashboard/plugins/jquery-datatable/extensions/export/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/dashboard/pages/tables/jquery-datatable.js' %}"></script>


{#        <script src="../../plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker_eng.js"></script>#}
    <script>

    //выбор существующего клиента

    $('.client_existing').on('click', function () {
        var row = $(this).parent().children().index($(this).parent());
        var name = $(this).eq(row).find('td').eq(1).text();
        var id = $(this).eq(row).find('td').eq(0).text();
{#        var tel = $(this).eq(row).find('td').eq(2).text();#}
        var email = $(this).eq(row).find('td').eq(3).text();
        console.log($.trim(id))
        $('#client').text(name + ', ' + email).attr('data-client-id', id);
{#        $('#email_doc_send').val(email);#}
{#        $('#tel_doc_send').val(tel);#}
{#        $('#client_id_doc_send').val(id);#}
        $('#close_modal_select_client_btn').click();


    });


    //отправка формы ИНФО

    $('#save_info_btn').on('click', function () {


        var formdata = new FormData($('#form_info').get(0));
        {% if new %}
        formdata.append('new', 'yes');
        {% else %}
        formdata.append('new', 'no');
        formdata.append('company_id', {{ company.id }});
            {% if user_profile.role.role_name != 'Клиент' %}
                formdata.append('client_id', {{ company.user.id }});

            {% endif %}

        {% endif %}

        $.ajax({
            url: '{% url 'ru:dashboard_ru:save_company' %}',
            type: 'POST',
            data: formdata,
            processData: false,
            contentType: false,
            error: function(data){
                swal({
                    title: 'Ошибка сервера',
                    text: 'Возникла ошибка при сохранении. Попробуйте позже.',
                    type: 'error'
                });
            },
            success:function (data) {
                if (data == 'ok'){
                    swal({
                        title: 'Информация сохранена',
                        text: 'Данные на сервере успешно обновлены',
                        type: 'success',
                        confirmButtonText: 'Ok',
                        closeOnConfirm: false
                    },
                    function (isConfirm) {
                        if (isConfirm){
                                window.location.href = '/ru/dashbrd/companies_list/';

                        }
                    });

                }
            }
        });

    });

$(document).ready(function () {

    //отображение кнопки сохранения при изменениях
    function show_save_info() {
        $('#info_label').fadeIn('slow');
        $('#btn_save_info').fadeIn('slow');

    }
    $('#name_company').on('input', function () {
        show_save_info();
    });

    $('#inn_company').on('input', function () {
        show_save_info();
    });

    $('#kpp_company').on('input', function () {
        show_save_info();
    });
    $('#ogrn_company').on('input', function () {
        show_save_info();
    });
    $('#property').on('change', function () {
        show_save_info();
    });
    $('#address_company').on('input', function () {
        show_save_info();
    });

});

    </script>

{% endblock %}