{% extends 'base_board.html' %}
{% load static %}

{% block links %}
            <link rel="stylesheet" href="{% static 'dashboard/plugins/sweetalert/sweetalert.css' %}">
{#            <link rel="stylesheet" href="{% static 'dashboard/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}">#}
{#            <link rel="stylesheet" href="{% static 'css/dashboard/style.css' %}">#}

{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'ru:dashboard_ru:base_board' user.id %}">
                <i class="mdi mdi-home f_s_15"></i> Домой
            </a>
        </li>
        <li class="active">
            <i class="mdi mdi-help f_s_15"></i> Помощь
        </li>
    </ol>

{% endblock %}

{% block content %}

                    <div class="card">
                        <div class="header">
                            <h2>
                                Помощь по панели управления
                                <small>В этом разделе отражены наиболее важные вопросы по панели управления, а также по системе вцелом.</small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                                    <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" role="tab" id="headingOne_1">
                                                <h4 class="panel-title font-family-roboto font-weight-100">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#new_order_add" aria-expanded="true" aria-controls="collapseOne_1">
                                                        Добавление новой заявки
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="new_order_add" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_1">
                                                <div class="panel-body">
                                                    <p class="display-inline">Добавить новую заявку можно нажав на кнопку</p>
                                                    <p type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float display-inline" >+</p>
                                                     в нижней правой части экрана.
                                                    <p>
                                                        Добавленная новая заявка, будет рассмотрена в течение 30 мин с момента ее создания. В случае возникновения вопросов по заявке, наш Менеджер свяжется с Вами.
                                                    </p>
                                                    <p>
                                                        Все изменения статуса заявки будут сообщены Вам через Вашу электронную почту. Также изменения статуса Вы можете отслеживать в личном кабинете в разделе ЗАЯВКИ.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" role="tab" id="headingTwo_1">
                                                <h4 class="panel-title font-family-roboto font-weight-100">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href="#order_execition" aria-expanded="false"
                                                       aria-controls="order_execition">
                                                        Схема выполнения заявки
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="order_execition" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                                                <div class="panel-body">
                                                    <p>
                                                        После поступления заявки она рассматривается Менеджером и определяется стоимость услуг, о чем клиент уведомляется по электронной почте. Стоимость также можно отслеживать в личном кабинете в деталях заявки в разделе ОПЛАТА.
                                                    </p>
                                                    <p>
                                                        После определения стоимости услуг необходимо произвести оплату. Это можно сделать в разделе ОПЛАТА детализации заявки одним из удобных способов. Это оплата банковской картой, электронными деньгами, безналичным перечислением средств со счета юридического лица. Список юридических лиц может расширен в разделе "Юр. лица" левой боковой панели меню. Процедура оплаты абсолютно безопасна и осуществляется с помощью сервиса PayMaster.
                                                    </p>
                                                    <p>
                                                        Если оплата прошла успешно, в течение 5-6 часов (максимум) происходит определение соответствующего персонала для выполнения работ, после чего все необходимые материалы загружаются на сервер и становятся доступны к скачиванию в разделе ПЕРЕВОД детализации заявки, в случае, если перевод осуществляется в письменной виде, либо же сообщается информация об исполнителях предполагаемых работ и другая необходимая информация через электронную почту или по телефону.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" role="tab" id="headingTwo_1">
                                                <h4 class="panel-title font-family-roboto font-weight-100">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href="#comments_help" aria-expanded="false" aria-controls="comments_help">
                                                        Комментарии и вопросы
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="comments_help" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_1">
                                                <div class="panel-body">
                                                    <p>
                                                        После поступления заявки она рассматривается Менеджером и определяется стоимость услуг, о чем клиент уведомляется по электронной почте. Стоимость также можно отслеживать в личном кабинете в деталях заявки в разделе ОПЛАТА.
                                                    </p>
                                                    <p>
                                                        После определения стоимости услуг необходимо произвести оплату. Это можно сделать в разделе ОПЛАТА детализации заявки одним из удобных способов. Это оплата банковской картой, электронными деньгами, безналичным перечислением средств со счета юридического лица. Список юридических лиц может расширен в разделе "Юр. лица" левой боковой панели меню. Процедура оплаты абсолютно безопасна и осуществляется с помощью сервиса PayMaster.
                                                    </p>
                                                    <p>
                                                        Если оплата прошла успешно, в течение 5-6 часов (максимум) происходит определение соответствующего персонала для выполнения работ, после чего все необходимые материалы загружаются на сервер и становятся доступны к скачиванию в разделе ПЕРЕВОД детализации заявки, в случае, если перевод осуществляется в письменной виде, либо же сообщается информация об исполнителях предполагаемых работ и другая необходимая информация через электронную почту или по телефону.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                        </div>






                    </div>



{% endblock %}