{% extends 'base_board.html' %}
{% load static %}

{% block links %}
    <link href="{% static 'dashboard/plugins/multi-select/css/multi-select.css' %}" rel="stylesheet" />

    <link href="{% static 'dashboard/plugins/bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet" />
    <link href="{% static 'css/tokenize2.min.css' %}" rel="stylesheet" />
{#    <link href="{% static 'css/scss/style.scss' %}" rel="stylesheet" />#}
    <link href="{% static 'css/mdl_file.css' %}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'ru:dashboard_ru:base_board' user.id %}">
                <i class="mdi mdi-home f_s_15"></i> Домой
            </a>
        </li>
        <li class="active">
            <a href="{% url 'ru:dashboard_ru:testimonials_list' %}">
                <i class="mdi mdi-account-multiple f_s_15"></i> Отзывы
            </a>
        </li>
        <li class="active">
            <i class="mdi mdi-account-plus f_s_15"></i> Отзыв № {{ testimonial.id }}
        </li>
    </ol>

{% endblock %}



{% block content %}
    <div class="card">
        <div class="header bg-cyan">
            <h2>
                Отзыв № {{ testimonial.id }}
            </h2>
        </div>
            <div class="body">

                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active"><a href="#info" data-toggle="tab">ИНФО <span class="label-count background-transparent none" id="info_label"><i class="mdi mdi-content-save"></i></span></a></li>
                </ul>
                    <div class="tab-content padding-top-30">
                        <form action="" method="post" id="form_info">{% csrf_token %}
                            <div role="tabpanel" class="tab-pane fade in active" id="info">
                                <h2 class="card-inside-title">Имя</h2>
                                <div class="row clearfix">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="mdi mdi-account f_s_20"></i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" class="form-control" placeholder="Имя" id="name_manager" name="name_manager" value="{{ testimonial.name }}" {% if user_profile.role.role_name != 'Суперадмин' and user_profile.role.role_name != 'Админ' %} disabled {% endif %}>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <h2 class="card-inside-title">Компания</h2>
                                <div class="row clearfix">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="mdi mdi-tie f_s_20"></i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" class="form-control" placeholder="Имя" id="name_manager" name="name_manager" value="{{ testimonial.company }}" {% if user_profile.role.role_name != 'Суперадмин' and user_profile.role.role_name != 'Админ' %} disabled {% endif %}>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <h2 class="card-inside-title">Текст</h2>
                                <div class="row clearfix">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="mdi mdi-comment-processing f_s_20"></i>
                                            </span>
                                            <div class="form-line">
                                                <textarea rows="4" class="form-control" placeholder="Текст ..." id="text_doc_send" name="text_doc_send">{{ testimonial.text }}</textarea>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <h2 class="card-inside-title">Одобрено</h2>
                                <div class="row clearfix">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="mdi mdi-check-circle f_s_20"></i>
                                            </span>


                                            <input type="checkbox" id="md_checkbox_5" class="" {% if testimonial.is_approved %} checked {% endif %}/>
                                            <label for="md_checkbox_5" style="height: 10px"></label>

                                        </div>

                                    </div>
                                </div>
                                    <div class="row clearfix">
                                        <div class="body">

                                        </div>
                                        <div class="col-sm-12 col-xs-12 none" id="btn_save_info">
                                            <button type="button" class="btn bg-cyan btn-block btn-lg waves-effect" id="save_info_btn">СОХРАНИТЬ</button>
                                        </div>

                                    </div>
                            </div>
{#                            <input name="new_manager" value="yes" class="none"/>#}
                            <input name="manager_id" value="{{ manager.id }}" class="none"/>

                        </form>

                    </div>


            </div>

    </div>
{% endblock %}

{% block script %}

    <script src="{% static 'js/mdl_file.js' %}"></script>
{#    <script src="{% static 'dashboard/plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>#}
{#    <script src="{% static 'dashboard/plugins/multi-select/js/jquery.multi-select.js' %}"></script>#}
{#    <script src="{% static 'dashboard/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js' %}"></script>#}
{#    <script src="{% static 'dashboard/plugins/dropzone/dropzone.js' %}"></script>#}
{#    <script src="{% static 'dashboard/plugins/jquery-inputmask/jquery.inputmask.bundle.js' %}"></script>#}
{#    <script src="{% static 'dashboard/plugins/nouislider/nouislider.js' %}"></script>#}
    <script src="{% static 'js/moment_ru.js' %}"></script>
    <script src="{% static 'js/tokenize2.min.js' %}"></script>


{#        <script src="../../plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker_eng.js"></script>#}
    <script>

        $('.datetimepicker').bootstrapMaterialDatePicker({
            lang : 'ru',
            format : 'DD.MM.YYYY',
            time: false,
            weekStart: 1
        });


{% if user_profile.role.role_name != 'Клиент' %}

    //отправка формы ИНФО

    $('#save_info_btn').on('click', function () {

            var email = new RegExp(/^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$/);
            var tel_exp = new RegExp(/^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$/)

            var message_manager = '';
            var email_err_manager = false;
            var email_err_manager_msg = '';
            var name_err_manager = false;
            var name_err_manager_msg = '';
            var tel_err_manager = false;
            var tel_err_manager_msg = '';
            //валидация email
            if ($('#email_manager').val() != '') {
                if (!email.test($('#email_manager').val())) {
                    $('#email_doc_send').addClass('invalid');
                    email_err_manager_msg = 'Проверьте правильность заполнения email<br/>';
                    email_err_manager = true;
                }
            } else {
                email_err_manager = true;
                email_err_manager_msg = 'Введите email<br/>';
{#                $('#email_doc_send').addClass('invalid');#}
            }
            //проверка имени
            if ($('#name_manager').val() == ''){
                name_err_manager = true;
                name_err_manager_msg = 'Введите имя </br>';
{#                $('#name_doc_send').addClass('invalid');#}

            }
            //проверка телефона
            if ($('#tel_manager').val() == ''){
                tel_err_manager = true;
                tel_err_manager_msg = 'Введите номер телефона </br>';
{#                $('#tel_doc_send').addClass('invalid');#}

            }else {
                if (!tel_exp.test($('#tel_manager').val())) {
{#                    $('#tel_doc_send').addClass('invalid');#}
                    tel_err_manager_msg = 'Проверьте правильность номера телефона<br/>';
                    tel_err_manager = true;
                }
            }
{#            //проверка файла#}
{#            if ($('#text_doc_send').val() == '' && $('#fileList li').length == 0){#}
{#                file_err_doc_send = true;#}
{#                file_err_doc_send_msg = 'Добавьте текст или файл';#}
{#                $('#text_doc_send').addClass('invalid');#}
{##}
{#            }#}


            if(email_err_manager || name_err_manager || tel_err_manager) {
                    message_manager = name_err_manager_msg + email_err_manager_msg + tel_err_manager_msg;
                swal({
                    html: true,
                    title: 'Ошибка',
                    text: message_manager,
                    type: 'warning'
                });


            }else {
{#                var i = 0;#}
{#                var langs_item = {};#}
                var formdata = new FormData($('#form_info').get(0));
{#                $('#language_select li').each(function () {#}
{#                    i += 1;#}
{#                    langs_item[ $(this).attr('value') ] = $(this).attr('value');#}
{#                    console.log(langs_item[ $(this).attr('value') ]);#}
{#                    formdata.append('lang_' + i, $(this).attr('value'))#}
{#                });#}
                formdata.append('new_manager', 'yes');

                $.ajax({
                    url: '{% url 'ru:dashboard_ru:save_manager_new' %}',
                    type: 'POST',
                    data: formdata,
                    processData: false,
                    contentType: false,
                    error: function(data){
                        swal({
                            title: 'Ошибка сервера',
                            text: 'Возникла ошибка при сохранении. Попробуйте позже.',
                            type: 'error'
                        });
                    },
                    success:function (data) {
                        console.log(data)
                        if (data == 'user exists'){
                            swal({
                                title: 'Ошибка',
                                text: 'Менеджер с указанным e-mail уже существует. E-mail должен быть уникальным',
                                type: 'error',
                                confirmButtonText: 'Ok'
                            })

                        }else {
                            swal({
                                title: 'Информация сохранена',
                                text: 'Данные на сервере успешно обновлены',
                                type: 'success',
                                confirmButtonText: 'Ok',
                                closeOnConfirm: false
                            },
                            function (isConfirm) {
                                if (isConfirm){
                                    window.location.href = '/ru/dashbrd/manager_details/' + data;

                                }
                            });

                        }
                    }
                });

            }






    });






    //загрузка фото
    $('#foto').on('mouseover', function () {
        $('#upload_foto').fadeIn('fast');

        {% if manager.photo.name %}
        $('#foto').on('mouseleave', function () {
            $('#upload_foto').fadeOut('fast');
        });
        {% endif %}
    });

    $('#upload_icon').on('click', function () {
            swal({
                title: 'Загрузка не возможна',
                text: 'После заполнения полей: Имя, Телефон, Email и сохранения данных возможность добавления фотографии будет открыта',
                type: 'error'
            });

    });

    $('#manager_foto').on('change', function () {
        var data = new FormData();
        data.append('photo', $('#manager_foto').prop('files')[0]);
        $.ajax({
{#            url: '{% url 'ru:dashboard_ru:save_manager_photo' translator.id %}',#}
            type: 'POST',
            data: data,
            processData: false,
            contentType: false,
            error: function(data){
                swal({
                    title: 'Ошибка сервера',
                    text: 'Возникла ошибка при сожранении. Попробуйте позже.',
                    type: 'warning'
                });
            },
            success:function (data) {
                $('#foto').css('background-image', 'url("/static/photo/' + data +'")')
                $('#upload_foto').fadeOut('fast');
                $('#foto').on('mouseleave', function () {
                    $('#upload_foto').fadeOut('fast');
                });
            }
        });

    });
    //загрузка фото конец

$(document).ready(function () {

    //отображение кнопки сохранения при изменениях
    function show_save_info() {
        $('#info_label').fadeIn('slow');
        $('#btn_save_info').fadeIn('slow');

    }
    $('#name_manager').on('input', function () {
        show_save_info();
    });

    $('#email_manager').on('input', function () {
        show_save_info();
    });

    $('#tel_manager').on('input', function () {
        show_save_info();
    });




        //обработка добавления и удаления языка
        var first_time = false;
        var str = '';
        var item = '';
    $('#language').on('change', function () {

        show_save_info();
    {#    e.stopPropagation();#}
       $('#language_select').append('<li class="list-group-item" style="" value="' + $(this).val() + '">' + $(this).val() + '<i class="mdi mdi-close float-right pointer-pure del-lang" data-toggle="tooltip" title="" data-placement="left" data-original-title=""></i></li>');
        str = $(this).val();

    {#    $('#language li:last').show();#}
        $('#language option').each(function () {
            if ($(this).val() == str){
                $(this).remove();
                $('#language').selectpicker('refresh');
            }
        });
    {#    $('[data-toggle="tooltip"]').tooltip({#}
    {#        trigger: 'hover'#}
    {#    });#}

        $('.del-lang').on('click', function () {

            console.log($(this).closest('li').text());
            item = $(this).closest('li').text();
            $(this).parent().remove();
            $('#language').append('<option value="' + item + '">' + item + '</option>');

            var options = $("#language option");                    // Collect options
            options.detach().sort(function(a,b) {               // Detach from select, then Sort
                var at = $(a).text();
                var bt = $(b).text();
                return (at > bt)?1:((at < bt)?-1:0);            // Tell the sort function how to order
            });
            options.appendTo("#language");
            $('#language').val(1);
            $('#language').selectpicker('refresh');
        });

    });

    {% endif %}

});

    </script>

{% endblock %}