{% extends 'base_board.html' %}
{% load static %}

{% block links %}
    <link href="{% static 'dashboard/plugins/multi-select/css/multi-select.css' %}" rel="stylesheet" />

    <link href="{% static 'dashboard/plugins/bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet" />
    <link href="{% static 'css/tokenize2.min.css' %}" rel="stylesheet" />
{#    <link href="{% static 'css/scss/style.scss' %}" rel="stylesheet" />#}
    <link href="{% static 'css/mdl_file.css' %}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'ru:dashboard_ru:base_board' user.id %}">
                <i class="mdi mdi-home f_s_15"></i> Домой
            </a>
        </li>
        <li class="active">
            <a href="{% url 'ru:dashboard_ru:get_translators_list' %}">
                <i class="mdi mdi-account-multiple f_s_15"></i> Переводчики
            </a>
        </li>
        <li class="active">
            <i class="mdi mdi-account f_s_15"></i> Переводчик № {{ translator.id }}
        </li>
    </ol>

{% endblock %}



{% block content %}
    <div class="card">
        <div class="header bg-cyan">
            <h2>
                Переводчик № {{ translator.id }} <small>Дата регистрации: {{ translator.registered|date:"d.m.Y, H:i" }}</small>{% if translator.creator %}<small>Автор: {{ translator.creator.id }}. {{ creator_profile.role.role_name }} - {{ translator.creator.first_name }} {{ translator.creator.last_name }}</small>{% endif %}
            </h2>
            <ul class="header-dropdown">
                <li>
                    <a href="javascript:void(0);">
                        <i class="material-icons">mic</i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block" id="del_translator_btn">Удалить</a></li>
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
            <div class="body">

                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active"><a href="#info" data-toggle="tab">ИНФО <span class="label-count background-transparent none" id="info_label"><i class="mdi mdi-content-save"></i></span></a></li>
                    <li role="presentation"><a href="#payment" data-toggle="tab">ОПЛАТА</a></li>
                    <li role="presentation"><a href="#orders" data-toggle="tab">ЗАЯВКИ</a></li>
                    <li role="presentation"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
                </ul>
                    <div class="tab-content padding-top-30">
                            <div role="tabpanel" class="tab-pane fade in active" id="info">
                                <form action="" method="post" id="form_info">{% csrf_token %}

    {#                            <h2 class="card-inside-title">Клиент</h2>#}
                                <div class="row clearfix">
                                        <div class="col-md-3">
                                            <div id="foto" class="foto" style="background-image: url('/static/photo/{{ translator.photo.name }}'); ">

                                                <div class="foto" >

                                                <div id="upload_foto" class="foto" style="background: rgba(0, 0, 0,0.3); {% if translator.photo.name %}display: none{% endif %}">
                                                    <div>
                                                        <i class="mdi mdi-cloud-upload font-30 centered pointer-pure" style="color: white" title="Загрузить фото (мин размер 150х200)" id="upload_icon"></i>
                                                        <input type="file" id="translator_foto" name="translator_foto" class="opacity-0"/>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
        {#                                <div class="col-md-1">#}
        {#                                    <i class="mdi mdi-rotate-left f_s_20" id="rotate"></i>#}
        {#                                </div>#}

                                    {#                            <div class="row clearfix">#}
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="mdi mdi-account f_s_20"></i>
                                                </span>
                                                <div class="form-line">
                                                    <input type="text" class="form-control" placeholder="Имя" id="name_translator" name="name_translator" value="{{ translator.name }}" {% if user_profile.role.id != 1 and user_profile.role.id != 4 %} disabled {% endif %}>

                                                </div>
                                            </div>
        {#                                </div>#}


        {#                                <div class="col-md-4">#}
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="mdi mdi-email f_s_20"></i>
                                                </span>

                                                <div class="form-line">
                                                    <input type="text" class="form-control date" placeholder="Email" id="email_translator" name="email_translator" value="{{ translator.email }}" {% if user_profile.role.id != 1 and user_profile.role.id != 4 %} disabled {% endif %}>
                                                </div>
                                            </div>
        {#                                </div>#}
        {#                                <div class="col-md-4">#}
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="mdi mdi-cellphone-iphone f_s_20"></i>
                                                </span>
                                                <div class="form-line">
                                                    <input type="text" class="form-control date" placeholder="Телефон" id="tel_translator" name="tel_translator" value="{{ translator.tel }}" {% if user_profile.role.id != 1 and user_profile.role.id != 4 %} disabled {% endif %}>
                                                </div>
                                            </div>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">
                                                    <i class="mdi mdi-calendar-today f_s_20"></i>
                                                </span>
                                                <div class="form-line">

                                                    <input type="text" class="datetimepicker form-control" placeholder="Введите дату рождения..." name="birthday" id="birthday" value="{{ birthday }}">
                                                </div>
                                            </div>

                                        </div>
                                </div>
                                    <h2 class="card-inside-title">Владение языками</h2>
                                    <div class="row clearfix">
                                        <div class="body">
                                            <div class="row clearfix">
                                                <div class="col-sm-5">
                                                    <select class="form-control show-tick" id="language" name="language">
                                                        <option value="default">-- Выберите язык --</option>
                                                        {% for lang in langs %}
                                                            {% for lang_select in langs_select %}
                                                                {% if lang != lang_select %}
                                                                    <option value="{{ lang.name }}">{{ lang.name }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-sm-2 text text_align_center f_s_20">
                                                    <i class="mdi mdi-arrow-down col-xs-12 hidden-sm hidden-lg hidden-md"></i>
                                                    <i class="mdi mdi-arrow-right hidden-xs"></i>
                                                </div>
                                                <div class="col-sm-5">
                                                    <ul class="list-group" id="language_select">
                                                        {% for lang_select in langs_select %}
                                                        <li class="list-group-item" style="" value="{{ lang_select.lang.name }}">{{ lang_select.lang.name }}<i class="mdi mdi-close float-right pointer-pure del-lang" data-toggle="tooltip" title="" data-placement="left" data-original-title=""></i></li>
                                                        {% endfor %}
        {#                                                <li class="list-group-item">Dapibus ac facilisis in <i class="mdi mdi-arrow-right hidden-xs"></i></li>#}
        {#                                                <li class="list-group-item">Morbi leo risus</li>#}
        {#                                                <li class="list-group-item">Porta ac consectetur ac</li>#}
        {#                                                <li class="list-group-item">Vestibulum at eros</li>#}
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-3 col-xs-12 none" id="btn_save_info">
                                            <button type="button" class="btn bg-cyan btn-block btn-lg waves-effect" id="save_info_btn">СОХРАНИТЬ</button>
                                        </div>

                                    </div>
                                <input name="new_translator" value="no" class="none"/>
                                <input name="translator_id" value="{{ translator.id }}" class="none"/>

                                </form>

{#                            </div>#}
                    </div>


                        <div role="tabpanel" class="tab-pane fade" id="payment">
                            <select id="tokenize" multiple="multiple" class="tokenize-sample" style="width: 300px; opacity: 0">
                                <option value="1">Dave</option>
                                <option value="2">Paul</option>
                                <option value="3">Michel</option>
                                <option value="4">Anna</option>
                                <option value="5">Eleanor</option>
                                <option value="6">Английкий</option>
                            </select>

                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="orders">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" class="datetimepicker form-control" placeholder="Выберите дату...">
                                            </div>
                                        </div>

                        </div>
                    </div>


            </div>

    </div>
{% endblock %}

{% block script %}

    <script src="{% static 'js/mdl_file.js' %}"></script>
{#    <script src="{% static 'dashboard/plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>#}
{#    <script src="{% static 'dashboard/plugins/multi-select/js/jquery.multi-select.js' %}"></script>#}
{#    <script src="{% static 'dashboard/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js' %}"></script>#}
{#    <script src="{% static 'dashboard/plugins/dropzone/dropzone.js' %}"></script>#}
{#    <script src="{% static 'dashboard/plugins/jquery-inputmask/jquery.inputmask.bundle.js' %}"></script>#}
{#    <script src="{% static 'dashboard/plugins/nouislider/nouislider.js' %}"></script>#}
    <script src="{% static 'js/moment_ru.js' %}"></script>
    <script src="{% static 'js/tokenize2.min.js' %}"></script>


{#        <script src="../../plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker_eng.js"></script>#}
    <script>


        $('.datetimepicker').bootstrapMaterialDatePicker({
            lang : 'ru',
            format : 'DD.MM.YYYY',
            time: false,
            weekStart: 1
        });


{% if user_profile.role.role_name != 'Клиент' %}

    function hide_save_info() {
        $('#info_label').fadeOut('slow');
        $('#btn_save_info').fadeOut('slow');

    }

    //отправка формы ИНФО

    $('#save_info_btn').on('click', function () {
        var i = 0;
        var langs_item = {};
        var formdata = new FormData($('#form_info').get(0));
        $('#language_select li').each(function () {
            i += 1;
            langs_item[ $(this).attr('value') ] = $(this).attr('value');
            console.log(langs_item[ $(this).attr('value') ])
            formdata.append('lang_' + i, $(this).attr('value'))
        });
        formdata.append('langs', langs_item);

        $.ajax({
            url: '{% url 'ru:dashboard_ru:save_translator' %}',
            type: 'POST',
            data: formdata,
            processData: false,
            contentType: false,
            error: function(data){
                swal({
                    title: 'Ошибка сервера',
                    text: 'Возникла ошибка при сохранении. Попробуйте позже.',
                    type: 'warning'
                });
            },
            success:function (data) {
                console.log(data)
                hide_save_info();
                swal({
                    title: 'Информация сохранена',
                    text: 'Данные на сервере успешно обновлены',
                    type: 'success'
                });

            }
        });

    });




    {#    moment.locale("ru");#}
{##}



{#    var now = moment();#}
{##}
{#    console.log(now.format('dddd, MMMM DD YYYY, h:mm:ss'));#}
{##}
{#moment.locale('fr');#}
{#console.log(moment(1316116057189).fromNow()); // il y a une heure#}
{#moment.locale('en');#}
{#console.log(moment(1316116057189).fromNow()); // an hour ago#}


    //загрузка фото
    $('#foto').on('mouseover', function () {
        $('#upload_foto').fadeIn('fast');

        {% if translator.photo.name %}
        $('#foto').on('mouseleave', function () {
            $('#upload_foto').fadeOut('fast');
        });
        {% endif %}
    });

    $('#upload_icon').on('click', function () {
        $('#translator_foto').click();
    });

    $('#translator_foto').on('change', function () {
        var data = new FormData();
        data.append('photo', $('#translator_foto').prop('files')[0]);
        $.ajax({
            url: '{% url 'ru:dashboard_ru:save_translator_photo' translator.id %}',
            type: 'POST',
            data: data,
            processData: false,
            contentType: false,
            error: function(data){
                swal({
                    title: 'Ошибка сервера',
                    text: 'Возникла ошибка при сожранении. Попробуйте позже.',
                    type: 'warning'
                });
            },
            success:function (data) {
                $('#foto').css('background-image', 'url("/static/photo/' + data +'")')
                $('#upload_foto').fadeOut('fast');
                $('#foto').on('mouseleave', function () {
                    $('#upload_foto').fadeOut('fast');
                });
            }
        });

    });
    //загрузка фото конец

$(document).ready(function () {

    //удаление переводчика
    $('#del_translator_btn').on('click', function () {
        swal({
            title: 'Удаление переводчика',
            text: 'Вы уверены, что хотите удалить переводчика?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Да',
            cancelButtonText: 'Нет',
            closeOnConfirm: false,
        },
        function (isConfirm) {
            if (isConfirm){
                $.ajax({
                    url: '{% url 'ru:dashboard_ru:delete_translator' %}',
                    type: 'POST',
                    data: JSON.stringify({
                        'translator_id': {{ translator.id }}
                    }),
                    processData: false,
                    contentType: false,
                    error: function(data){
                        swal({
                            title: 'Ошибка сервера',
                            text: 'Возникла ошибка при сохранении. Попробуйте позже.',
                            type: 'warning'
                        });
                    },
                    success:function (data) {
                        console.log(data)
                        swal({
                            title: 'Переводчик удален',
                            text: 'Данные на сервере успешно обновлены',
                            type: 'success',
                            confirmButtonText: 'Ok',
                            closeOnConfirm: false
                        },
                        function (isConfirm) {
                            if (isConfirm){
                                window.location.href = '/ru/dashbrd/translator_list/';

                            }
                        });
                    }
                });
            }
        });

    });

    //отображение кнопки сохранения при изменениях ИНФО
    function show_save_info() {
        $('#info_label').fadeIn('slow');
        $('#btn_save_info').fadeIn('slow');

    }
    $('#name_translator').on('input', function () {
        show_save_info();
    });

    $('#email_translator').on('input', function () {
        show_save_info();
    });

    $('#tel_translator').on('input', function () {
        show_save_info();
    });
    $('#birthday').on('change', function () {
        show_save_info();
    });




        //обработка добавления и удаления языка
        var first_time = false;
        var str = '';
        var item = '';
    $('#language').on('change', function () {

        show_save_info();
    {#    e.stopPropagation();#}
       $('#language_select').append('<li class="list-group-item" style="" value="' + $(this).val() + '">' + $(this).val() + '<i class="mdi mdi-close float-right pointer-pure del-lang" data-toggle="tooltip" title="" data-placement="left" data-original-title=""></i></li>');
        str = $(this).val();

    {#    $('#language li:last').show();#}
        $('#language option').each(function () {
            if ($(this).val() == str){
                $(this).remove();
                $('#language').selectpicker('refresh');
            }
        });
    {#    $('[data-toggle="tooltip"]').tooltip({#}
    {#        trigger: 'hover'#}
    {#    });#}

{#        $('.del-lang').on('click', function () {#}
{##}
{#            console.log($(this).closest('li').text());#}
{#            item = $(this).closest('li').text();#}
{#            $(this).parent().remove();#}
{#            $('#language').append('<option value="' + item + '">' + item + '</option>');#}
{##}
{#            var options = $("#language option");                    // Collect options#}
{#            options.detach().sort(function(a,b) {               // Detach from select, then Sort#}
{#                var at = $(a).text();#}
{#                var bt = $(b).text();#}
{#                return (at > bt)?1:((at < bt)?-1:0);            // Tell the sort function how to order#}
{#            });#}
{#            options.appendTo("#language");#}
{#            $('#language').val(1);#}
{#            $('#language').selectpicker('refresh');#}
{#        });#}

    });

        $('.del-lang').on('click', function () {

            console.log($(this).closest('li').text());
            item = $(this).closest('li').text();
            $(this).parent().remove();
            $('#language').append('<option value="' + item + '">' + item + '</option>');

            var options = $("#language option");                    // Collect options
            options.detach().sort(function(a,b) {               // Detach from select, then Sort
                var at = $(a).text();
                var bt = $(b).text();
                return (at > bt)?1:((at < bt)?-1:0);            // Tell the sort function how to order
            });
            options.appendTo("#language");
            $('#language').val(1);
            $('#language').selectpicker('refresh');
        });





{#    $('#tokenize').tokenize2();#}
{##}
{##}
{##}
        {#    console.log(moment.locale("ru"));#}
{##}
{#    //изменение ответственного#}
{#        $('#resp').on('change', function () {#}
{#            $.ajax({#}
{#                url: '{% url 'ru:dashboard_ru:set_resp' %}',#}
{#                type: 'POST',#}
{##}
{#                data: JSON.stringify({#}
{#                    'resp': $(this).val(),#}
{#                    'order_id': "{{ order_details.id }}"#}
{#                }),#}
{##}
    {#            dataType: 'json',#}
    {#            processData: false,#}
    {#            contentType: false,#}
    {#            statusCode: {#}
    {#                200: function () {#}
    {#                    console.log('rrr');#}
    {#                        $.notify({#}
    {#                            message: 'Информация сохранена',#}
    {##}
    {#                        },#}
    {#                            {#}
    {#                                type:'success',#}
    {#                                allow_dismiss: true,#}
    {#                                newest_on_top: true,#}
    {#                                placement: {#}
    {#                                    from: 'bottom',#}
    {#                                    align: 'center'#}
    {#                                }#}
    {#                            }#}
    {#                        );#}
    {#                }#}
    {#            },#}
{#                error: function(data){#}
{#                    console.log(data);#}
{#                    console.log('gfgdfgdfg');#}
{#                },#}
{#                success: function (data) {#}
{#                    console.log('rrr');#}
{#                    if (data == 'ok'){#}
{#                        $.notify({#}
{#                            message: 'Информация сохранена',#}
{##}
{#                        },#}
{#                            {#}
{#                                type:'success',#}
{#                                allow_dismiss: true,#}
{#                                newest_on_top: true,#}
{#                                placement: {#}
{#                                    from: 'bottom',#}
{#                                    align: 'center'#}
{#                                }#}
{#                            }#}
{#                        );#}
{#                    }else {#}
{#                        hidePreloader();#}
{#                        $('#email').addClass('invalid');#}
{##}
{#                        $('#message').html('Пользователь с таким email уже существует');#}
{#                        $('#message').addClass('err_msg');#}
{#                        $('#message').slideDown('fast');#}
{#                    }#}
    {#                        alert(data);#}
{##}
{#                }#}
{#            });#}
{##}
{#        });#}

    {% endif %}


});

    </script>

{% endblock %}