{% extends 'base.html' %}
{% load static %}

{% block links %}
            <link rel="stylesheet" href="{% static 'css/main_page_btn.css' %}">

{% endblock %}

{% block content %}
    <div style="background-color: #26272C; padding-top: 10px">
    <h2 class="to-animate fadeInUp animated header-title font-size-25">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</h2>
        <div class="text_align_center">
            <i class="mdi mdi-dots-horizontal font-size-40 color-red"></i>
        </div>
        <div class="body container color_white">

            {% include 'confidentiality_text.html' %}

        </div>
{#                        <div class="row text-align-center color-red">#}
{#							<div class="col-md-8 col-md-offset-2 subtext" style="text-align: center; margin-top: -40px">#}
{#                                <i class="mdi mdi-ray-start-end font-40"></i>#}
{#								<h3 class="to-animate"></h3>#}
{#							</div>#}
{#						</div>#}
{#        <div class="body row margin-left-0 margin-right-0">#}
{##}
{#            <div class="media fh5co-post to-animate fadeInRight animated col-sm-10 col-sm-offset-1 col-xs-12">#}
{#                <div class="row padding-left-30 padding-right-30 border-bottom-1 margin-top-30">#}
{#                    <div class="media-body">#}
{#                        {% if learn_more == 'trans' %}#}
{#                        <h4 class="header_font mrg-bot-20">Перевод таможенных документов и международных договоров</h4>#}
{#                        <p class="font_color_text font-14">#}
{#                            Компании, ведущие внешнеэкономическую деятельность, всегда сталкиваются с потребностью перевода таможенных документов для предоставления в Федеральную таможенную службу. Неточности и ошибки при проведении переводов таможенных документов могут иметь последствия в виде штрафов и увеличении сроков и стоимости таможенной отчистки товаров при пересечении границы.#}
{#                        </p>#}
{#                        <p class="font_color_text font-14">#}
{#                            Цена услуги: <i style="color: white">от 400 руб.</i>#}
{#                        </p>#}
{#                        <div class="row">#}
{#                            <div class="call-to-action text-center to-animate opacity-1 text-align-left margin-bottom-20 col-xs-12 padding-left-10 padding-right-10"><p  class="btn btn-learn background-red col-xs-12 col-sm-2" id="btn_trans_custom">заказать</p></div>#}
{##}
{#                        </div>#}
{##}
{#                        {% elif learn_more == 'types' %}#}
{#                        <h4 class="header_font mrg-bot-20 mob-text-align-center">Устный перевод</h4>#}
{##}
{#                        <p class="font_color_text font-14">#}
{#                            Наши специалисты имеют богатый опыт участия в различных мероприятиях, которые требуют перевода.#}
{#                        </p>#}
{#                        <p class="font_color_text font-14">#}
{#                            Это может быть синхронный перевод, последовательный перевод, шушутаж (перевод с использованием специального оборудования непосредственно в наушники). Мы помогаем в проведении различных конференций с участием иностранных специалистов, в том числе и узкоспециализированных (медицинских, IT направления, промышленных и т.д.), перезентаций иностранных компаний, языковое сопровождение иностранных представителей в их поездке по России, а также выезд за границу, участие в видео- и телефонных переговорах, проведение монтажных и пуско-наладочных работ иностранного оборудования, требующие консультаций иностранных инженеров, проведение обучающих и бизнес- семинаров.#}
{#                        </p>#}
{#                        <p class="font_color_text font-14">#}
{#                            Цена услуги: <i style="color: white">по запросу</i>#}
{#                        </p>#}
{#                        <div class="row">#}
{#                            <div class="call-to-action text-center to-animate opacity-1 text-align-left margin-bottom-20 col-xs-12 padding-left-10 padding-right-10"><p  class="btn btn-learn background-red col-xs-12 col-sm-2" id="btn_types_spoken">заказать</p></div>#}
{##}
{#                        </div>#}
{#                        {% endif %}#}
{##}
{#                    </div>#}
{#                    <div class="media-right hidden-xs">#}
{#                        {% if learn_more == 'trans' %}#}
{#                        <img class="media-object margin-right-0 margin-bottom-0" src="{% static 'img/custom.jpg' %}" width="100" height="210">#}
{#                        {% elif learn_more == 'types' %}#}
{#                        <img class="media-object margin-right-0 margin-bottom-0" src="{% static 'img/types_spoken.jpg' %}" width="100" height="326">#}
{#                        {% endif %}#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="body row margin-left-0 margin-right-0">#}
{#            <div class="media fh5co-post to-animate fadeInLeft animated col-sm-10 col-sm-offset-1 col-xs-12">#}
{#                <div class="row padding-left-30 padding-right-30 border-bottom-1 margin-top-30">#}
{#                    <div class="media-left hidden-xs">#}
{#                        {% if learn_more == 'trans' %}#}
{#                        <img class="media-object margin-right-20 margin-bottom-0" src="{% static 'img/gear_100_283.jpg' %}" width="100" height="283">#}
{#                        {% elif learn_more == 'types' %}#}
{#                        <img class="media-object margin-right-20 margin-bottom-0" src="{% static 'img/types_video_100_262.jpg' %}" width="100" height="262">#}
{#                        {% endif %}#}
{#                    </div>#}
{##}
{#                    <div class="media-body">#}
{#                        {% if learn_more == 'trans' %}#}
{#                        <h4 class="header_font mrg-bot-20">Перевод технической документации</h4>#}
{#                        <p class="font_color_text font-14">#}
{#                            Данный вид работ является одним из наиболее сложных поскольку требует от специалиста знаний не только языка, но и технической грамотности. Наши специалисты обладают опытом и соответствующей квалификацией, чтобы удовлетворить любые потребности в переводе технического характера. Если Вам необходимо перевести инструкции, техническую документацию, помочь провести пуско-наладочные работы иностранного оборудования, помочь в переговорах по покупке оборудования у иностранных производителей, включая Китай, перевести рабочие чертежи, мы готовы Вам в этом помочь! Для выполнения такого вида работ, мы подбираем переводчика строго определенной узкой специализации, что является залогом успешного результата в кратчайшие сроки.#}
{#                        </p>#}
{#                        <p class="font_color_text font-14">#}
{#                            Цена услуги: <i style="color: white">по запросу</i>#}
{#                        </p>#}
{#                        <div class="row">#}
{#                            <div class="call-to-action text-center to-animate opacity-1 text-align-left margin-bottom-20 col-xs-12 padding-left-10 padding-right-10"><p  class="btn btn-learn background-red col-xs-12 col-sm-2" id="btn_trans_tech">заказать</p></div>#}
{##}
{#                        </div>#}
{#                        {% elif learn_more == 'types' %}#}
{#                        <h4 class="header_font mrg-bot-20">Перевод аудио- видео- контента</h4>#}
{#                        <p class="font_color_text font-14">#}
{#                           Благодаря сотрудничеству с профессиональными студиями звуко- и видео- записи, наша компания выполняет заказы по переводу контента, содержащего ауди- и видео- материалы.#}
{#                        </p>#}
{#                        <p class="font_color_text font-14">#}
{#                           Таким образом, могут быть удовлетворены потребности в переводе видеофильмов, видео- и аудио- инструкций, бизнес-презентаций, обращений, поздравлений, видеоуроков, семинаров.#}
{#                        </p>#}
{#                        <p class="font_color_text font-14">#}
{#                            Цена услуги: <i style="color: white">по запросу</i>#}
{#                        </p>#}
{#                        <div class="row">#}
{#                            <div class="call-to-action text-center to-animate opacity-1 text-align-left margin-bottom-20 col-xs-12 padding-left-10 padding-right-10"><p  class="btn btn-learn background-red col-xs-12 col-sm-2" id="btn_types_video">заказать</p></div>#}
{##}
{#                        </div>#}
{#                        {% endif %}#}
{##}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        {% if learn_more == 'trans' %}#}
{#        <div class="body row margin-left-0 margin-right-0">#}
{#            <div class="media fh5co-post to-animate fadeInRight animated col-sm-10 col-sm-offset-1 col-xs-12">#}
{#                <div class="row padding-left-30 padding-right-30 border-bottom-1 margin-top-30">#}
{#                    <div class="media-body">#}
{#                        <h4 class="header_font mrg-bot-20">Перевод интернет-ресурсов</h4>#}
{#                        <p class="font_color_text font-14">#}
{#                            Интернет давно стал неотъемлемой частью нашей жизни и представить наши интересы иностранному сегменту крайне важно, особенно, если Ваш интерес направлен на иностранные рынки. Мы предлагаем услуги по переводу интернет-ресурсов любой тематики и направления. Наши специалисты проведут работу по оптимизации "семантического ядра" ресурса в зависимости от локализации и географических предпочтений, что позволяет проводить SEO-оптимизацию контента и положительно сказывается на выдачу в поиске интересующей Вас иностранной аудитории. Также мы можем провести работу непосредственно с html исходниками (при их наличии), что избавит Вас от необходимости делать это самостоятельно.#}
{#                        </p>#}
{#                        <p class="font_color_text font-14">#}
{#                            Цена услуги: <i style="color: white">по запросу</i>#}
{#                        </p>#}
{#                        <div class="row">#}
{#                            <div class="call-to-action text-center to-animate opacity-1 text-align-left margin-bottom-20 col-xs-12 padding-left-10 padding-right-10"><p  class="btn btn-learn background-red col-xs-12 col-sm-2" id="btn_trans_www">заказать</p></div>#}
{##}
{#                        </div>#}
{##}
{#                    </div>#}
{#                    <div class="media-right hidden-xs">#}
{#                        <img class="media-object margin-bottom-0" src="{% static 'img/internet.jpg' %}" width="100" height="283">#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="body row margin-left-0 margin-right-0">#}
{#            <div class="media fh5co-post to-animate fadeInLeft animated col-sm-10 col-sm-offset-1 col-xs-12">#}
{#                <div class="row padding-left-30 padding-right-30 border-bottom-1 margin-top-30">#}
{#                    <div class="media-left hidden-xs">#}
{#                        <img class="media-object margin-right-20 margin-bottom-0" src="{% static 'img/medicine_100_265.jpg' %}" width="100" height="265">#}
{#                    </div>#}
{##}
{#                    <div class="media-body">#}
{#                        <h4 class="header_font mrg-bot-20">Перевод медицинской направленности</h4>#}
{#                        <p class="font_color_text font-14">#}
{#                            Это направление также относится к одному из наиболее сложных, требующих высококвалифицированных специалистов. Профессионалов в медицинском переводе не так много и они постоянно востребованы. Наши специалисты занимаются переводами медицинской литературы, амбулаторных карт, инструкций по эксплуатации медицинского оборудования, инструкций к медицинским препаратам, сопровождением и переводами на медицинских конференциях с участием иностранных специалистов. Мы поможем Вам удовлетворить любые Ваши потребности в переводах медицинского направления.#}
{#                        </p>#}
{#                        <p class="font_color_text font-14">#}
{#                            Цена услуги: <i style="color: white">по запросу</i>#}
{#                        </p>#}
{#                        <div class="row">#}
{#                            <div class="call-to-action text-center to-animate opacity-1 text-align-left margin-bottom-20 col-xs-12 padding-left-10 padding-right-10"><p  class="btn btn-learn background-red col-xs-12 col-sm-2" id="btn_trans_medic">заказать</p></div>#}
{##}
{#                        </div>#}
{##}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="body row margin-left-0 margin-right-0">#}
{#            <div class="media fh5co-post to-animate fadeInRight animated col-sm-10 col-sm-offset-1 col-xs-12">#}
{#                <div class="row padding-left-30 padding-right-30 border-bottom-1 margin-top-30">#}
{#                    <div class="media-body">#}
{#                        <h4 class="header_font mrg-bot-20">Экономический и бухгалтерский перевод</h4>#}
{#                        <p class="font_color_text font-14">#}
{#                            Одна из наиболее востребованных услуг. Наши специалисты обладают богатым опытом в проведении подобного рода переводов. Наши клиенты заказывают переводы бухгалтерских и аудиторских отчетностей, бизнес-планов, коммерческих предложений, бизнес-презентаций, устные переводы на конференциях с участием иностранных гостей, сопровождение иностранных бизнес-представителей во время их пребывания как в России, так и за рубежом, участие в переговорах и подписании внешнеэкономических договоров. Если Вы ведете бизнес с иностранными партнерами и у Вас нет собственных сотрудников, владеющими иностранными языками, Вы можете полностью на нас положиться. Мы подберем переводчика, отвечающего всем Вашим требованиям!#}
{#                        </p>#}
{#                        <p class="font_color_text font-14">#}
{#                            Цена услуги: <i style="color: white">по запросу</i>#}
{#                        </p>#}
{#                        <div class="row">#}
{#                            <div class="call-to-action text-center to-animate opacity-1 text-align-left margin-bottom-20 col-xs-12 padding-left-10 padding-right-10"><p  class="btn btn-learn background-red col-xs-12 col-sm-2" id="btn_trans_economic">заказать</p></div>#}
{##}
{#                        </div>#}
{##}
{#                    </div>#}
{#                    <div class="media-right hidden-xs">#}
{#                        <img class="media-object margin-bottom-0" src="{% static 'img/business100_200.jpg' %}" width="100" height="280">#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        {% endif %}#}

    </div>

    <button type="button" class="btn bg-red btn-circle-lg waves-effect waves-circle waves-float main" data-toggle="tooltip" title="Оформить заявку" data-placement="left" id="btn_send_docs">
        <i class="mdi mdi-auto-upload" style="top:2px!important;"></i>
    </button>

{% endblock %}

{% block script_footer %}

    <script>
        $('#go_to_index').on('click', function () {
            window.location.href = {% url 'ru:index' %}
        });

        $('#btn_send_docs').on('click', function (e) {

            $('#btn_doc_send').click();
        });

    
    //отправка формы
    function hideMessageContactForm() {
        $('#message_contact_form').slideUp('slow');
        $('#name_contact_form').removeClass('invalid');
        $('#email_contact_form').removeClass('invalid');
        $('#tel_contact_form').removeClass('invalid');
    }

    function showMessage_contact_form(msg) {
        $('#message_contact_form').append(msg);
        $('#message_contact_form').addClass('err_msg');
        $('#message_contact_form').slideDown('fast');
    }

    $('#name_contact_form').on('click', function () {
        hideMessageContactForm();
    });
    $('#email_contact_form').on('click', function () {
        hideMessageContactForm();
    });
    $('#tel_contact_form').on('click', function () {
        hideMessageContactForm();
    });

    //отправка контрактной формы
    function send_contact_form(learn_more_name) {
        var email = new RegExp(/^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$/);
        var tel_exp = new RegExp(/^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$/)

        console.log(learn_more_name)
        var message_contact_form = '';
        var email_err_contact_form = false;
        var email_err_contact_form_msg = '';
        var name_err_contact_form = false;
        var name_err_contact_form_msg = '';
        var tel_err_contact_form = false;
        var tel_err_contact_form_msg = '';

        //валидация email
        if ($('#email_contact_form').val() != '') {
            if (!email.test($('#email_contact_form').val())) {
                $('#email_contact_form').addClass('invalid');
                email_err_contact_form_msg = 'Проверьте правильность заполнения email<br/>';
                email_err_contact_form = true;
            }
        } else {
            email_err_contact_form = true;
            email_err_contact_form_msg = 'Введите свой email<br/>';
            $('#email_contact_form').addClass('invalid');
        }
        //проверка имени
        if ($('#name_contact_form').val() == ''){
            name_err_contact_form = true;
            name_err_contact_form_msg = 'Введите свое имя </br>';
            $('#name_contact_form').addClass('invalid');

        }
        //проверка телефона
        if ($('#tel_contact_form').val() == ''){
            tel_err_contact_form = true;
            tel_err_contact_form_msg = 'Введите свой номер телефона </br>';
            $('#tel_contact_form').addClass('invalid');

        }else {
            if (!tel_exp.test($('#tel_contact_form').val())) {
                $('#tel_contact_form').addClass('invalid');
                tel_err_contact_form_msg = 'Проверьте правильность номера телефона<br/>';
                tel_err_contact_form = true;
            }
        }

        if(email_err_contact_form || name_err_contact_form || tel_err_contact_form){
            $('#message_contact_form').html('');
            message_contact_form = name_err_contact_form_msg + email_err_contact_form_msg + tel_err_contact_form_msg;
            showMessage_contact_form(message_contact_form);
            $('#Modal_contact_form').animate({scrollTop: 0}, 'slow');

                    console.log($('#trans_from').val() + ' ' + $('#trans_to').val());

                    $('#modalDocSend').on('shown.bs.modal', function () {
                        $('#modalDocSend .modal-content').animate({'scrollTop': $('#message_doc_send').offset().top}, 2000)

                    });

        }else {
            showPreloader();
            var formdata = new FormData($('#contact_form').get(0));
            formdata.append('learn_more', learn_more_name);
            $.ajax({
                url: '{% url 'ru:save_files_trans' %}',
                type: 'POST',
                data: formdata,
                processData: false,
                contentType: false,
                error: function(data){
                    console.log(data);
                },
                success:function (data) {
                    hidePreloader();

                    if (data == 'ok'){
                        $('.close').click();
                            swal({
                                title: 'Информация успешно отправлена',
                                text: 'Спасибо за оказанное нам доверие! В ближайшее время с Вами свяжется наш Менеджер',
                                type: 'success',
                                confirmButtonText: 'Ok',
                                closeOnConfirm: false
                            });

{#                                toastr.success('Заголовок', 'Текст все ок');#}
                    }else {
                        $('.close').click();

                        if (data == 'user_exists'){
                            swal({
                                title: 'Информация успешно отправлена',
                                text: 'Спасибо за оказанное нам доверие! В ближайшее время на Вашу почту будет отправлено коммерческое предложение',
                                type: 'success',
                                confirmButtonText: 'Ok',
                                closeOnConfirm: false
                            },
                            function (isConfirm) {
                                if (isConfirm){
                                    swal({
                                        title: 'Пользователь с таким email уже зарегистрирован',
                                        text: 'Если учетная запись принадлежит Вам, Вы можете отслеживать свои заказы в личном кабинете',
                                        type: 'warning'
                                    })
                                }
                            });

                        }
                    }
                    clear_send_docs();
                }
            });


        }


    }

    //нажатие кнопки отправки
    function click_submit_btn(learn_more_name) {
        $('#btn_contact_form_trigger').click();
        $('#btn_submit_contact_form').on('click', function (e) {
            e.preventDefault();
            send_contact_form(learn_more_name)
        })

    }

    $('#btn_trans_official_docs').on('click', function () {
        var learn_more_name = 'trans_official_docs';
        click_submit_btn(learn_more_name);
    });
    $('#btn_trans_medic').on('click', function () {
        var learn_more_name = 'trans_medic';
        click_submit_btn(learn_more_name);
    });
    $('#btn_trans_custom').on('click', function () {
        var learn_more_name = 'trans_custom';
        click_submit_btn(learn_more_name);
    });
    $('#btn_trans_tech').on('click', function () {
        var learn_more_name = 'trans_tech';
        click_submit_btn(learn_more_name);
    });
    $('#btn_trans_www').on('click', function () {
        var learn_more_name = 'trans_www';
        click_submit_btn(learn_more_name);
    });
    $('#btn_trans_economic').on('click', function () {
        var learn_more_name = 'trans_economic';
        click_submit_btn(learn_more_name);
    });
    $('#btn_types_written').on('click', function () {
        var learn_more_name = 'type_written';
        click_submit_btn(learn_more_name);
    });
    $('#btn_types_spoken').on('click', function () {
        var learn_more_name = 'type_spoken';
        click_submit_btn(learn_more_name);
    });
    $('#btn_types_video').on('click', function () {
        var learn_more_name = 'type_video';
        click_submit_btn(learn_more_name);
    });

    
    </script>

{% endblock %}