{% load staticfiles %}
{% block subject %}Расчет стоимости PROLINGVA{% endblock %}
{% block html %}
<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
<style>
    .calc{
    border-collapse: collapse;
    border: 1px solid #9d9d9d;
    width: 100%;
    }
</style>
</head>
<body>

<table cellpadding='0' cellspacing='0' id='iphone-table' style='padding:10px 0px 15px 0px; width: 80%; font-family: Roboto, Sans-Serif;' align="center">
    <tr>
        <td align="left" valign="middle" style="border-bottom: 1px solid #ddd; margin-bottom: 10px">
            <div style="padding-bottom: 5px">
                <img src="{{ logo }}">
            </div>
        </td>
        <td align="right" valign="bottom" style="text-align: right; border-bottom: 1px solid #ddd; margin-bottom: 10px" >
            <div style="text-align: right; color: #9d9d9d; font-size: 13px; padding-bottom: 5px">{{ prolingva_tel }}</div>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center; font-size: 15px; padding-top: 10px">
            Уважаемый(ая) {{ order.user.first_name }},
        </td>
    </tr>
    <tr>
        <td colspan="2" style="font-size: 13px; padding-top: 10px; border-bottom: 1px solid #ddd; text-align: justify; padding-bottom: 10px">
            <p>Расчет Вашей заявки был произведен. Если у Вас есть вопросы по расчету, Вы можете задать их по телефону {{ prolingva_tel }}, через почту Вашего менеджера (ниже) или в разделе КОММЕНТАРИИ в режиме детализации заявки.</p>
{#            <p>Мы постоянной занимаемся расширением функционала. О всех изменениях мы будем Вам сообщать дополнительно.</p>#}
        </td>
    </tr>
    <tr>
       <td colspan="2" style="padding-bottom: 10px">
           <table border="1"  cellpadding='0' cellspacing='0' width="100%" class="calc">
{#               <tr>#}
{#                   <td align="left" valign="center" colspan="2" style="font-size: 13px; padding-bottom: 5px">#}
{#                       <b>Данные для входа:</b>#}
{#                   </td>#}
{#               </tr>#}
               <tr>
                   <td align="left" valign="center" style="background: #DDDDDD; font-size: 13px; padding:5px">
                       Менеджер:
                   </td>
                   <td align="left" valign="center" style="font-size: 13px; padding: 5px">
                       {{ manager.first_name }}, <a href="emailto:{{ manager.email }}">{{ manager.email }}</a>
                   </td>
               </tr>
               <tr style="font-size: 13px">
                   <td align="left" valign="center" style="background: #DDDDDD;  padding: 5px">
                       Заявка №:
                   </td>
                   <td align="left" valign="center" style="padding: 5px">
                       <a href="http://prolingva.ru/ru/dashbrd/order_details/{{ order.id }}">{{ order.id }}</a>
                   </td>
               </tr>
               <tr style="font-size: 13px">
                   <td align="left" valign="center" style="background: #DDDDDD;  padding: 5px">
                       Тематика
                   </td>
                   <td align="left" valign="center" style="padding: 5px">
                       {{ order.translation_theme.name }}
                   </td>
               </tr>
               <tr style="font-size: 13px">
                   <td align="left" valign="center" style="background: #DDDDDD;  padding: 5px">
                       Тип
                   </td>
                   <td align="left" valign="center" style="padding: 5px">
                       {{ order.translation_type.name }}
                   </td>
               </tr>
               <tr style="font-size: 13px">
                   <td align="left" valign="center" style="background: #DDDDDD;  padding: 5px">
                       Перевод С
                   </td>
                   <td align="left" valign="center" style="padding: 5px">
                       {{ order.trans_from.name }}
                   </td>
               </tr>
               <tr style="font-size: 13px">
                   <td align="left" valign="center" style="background: #DDDDDD;  padding: 5px">
                       Перевод НА
                   </td>
                   <td align="left" valign="center" style="padding: 5px">
                       {{ order.trans_to.name }}
                   </td>
               </tr>
               <tr style="font-size: 13px">
                   <td align="left" valign="center" style="background: #DDDDDD;  padding: 5px">
                       Кол-во страниц:
                   </td>
                   <td align="left" valign="center" style="padding: 5px">
                       {{ order.pages_qnt }}
                   </td>
               </tr>
               <tr style="font-size: 13px">
                   <td align="center" valign="center" style="background: #337AB7;  padding: 5px; color: white;" colspan="2">
                       Стоимость
                   </td>
               </tr>
               <tr style="font-size: 13px">
                   <td align="left" valign="center" style="padding: 5px; background: #DDDDDD;">
                       <div>
                           <b>Стандарт</b>
                           {% if order.recommended_price.name == 'Стандарт' %}<span style="display: inline;
                                padding: .2em .6em .3em;
                                font-size: 75%;
                                font-weight: bold;
                                line-height: 1;
                                color: #fff;
                                text-align: center;
                                white-space: nowrap;
                                vertical-align: baseline;
                                background: grey">Рекомендовано</span>
                           {% endif %}
                       </div>
                       <div>
                           Документы низкой сложности. Перевод производится одним переводчиком.<br/>
                            Личные документы, удостоверения личности, дипломы, документы официальных органов, личная и бизнес переписка, сертификаты, свидетельства, таможенные документы и т.п.
                       </div>
                   </td>
                   <td align="left" valign="center" style="padding: 5px">
                       {{ order.price }} руб.
                   </td>
               </tr>
               <tr style="font-size: 13px">
                   <td align="left" valign="center" style="padding: 5px; background: #DDDDDD;">
                       <div>
                           <b>Бизнес</b>
                           {% if order.recommended_price.name == 'Бизнес' %}<span style="display: inline;
                                padding: .2em .6em .3em;
                                font-size: 75%;
                                font-weight: bold;
                                line-height: 1;
                                color: #fff;
                                text-align: center;
                                white-space: nowrap;
                                vertical-align: baseline;
                                background: grey">Рекомендовано</span>
                           {% endif %}

                       </div>
                       <div>
                           Документы средней сложности. Перевод производится переводчиком с определенной специализацией.<br/>
                           Технический, медицинский перевод. Юридические документы, бизнес -презентации, -планы, -отчеты. Научная документация.
                       </div>
                   </td>
                   <td align="left" valign="center" style="padding: 5px">
                       {{ order.price_business }} руб.
                   </td>
               </tr>
               <tr style="font-size: 13px">
                   <td align="left" valign="center" style="padding: 5px; background: #DDDDDD;">
                       <div>
                           <b>Профи</b>
                           {% if order.recommended_price.name == 'Профи' %}<span style="display: inline;
                                padding: .2em .6em .3em;
                                font-size: 75%;
                                font-weight: bold;
                                line-height: 1;
                                color: #fff;
                                text-align: center;
                                white-space: nowrap;
                                vertical-align: baseline;
                                background: grey">Рекомендовано</span>
                           {% endif %}

                       </div>
                       <div>
                           Документы повышенной сложности. Перевод производится переводчиком с последующей редакцией высококвалифицированного сотрудника, в том числе носителя языка.<br/>
                            Важнейшие документы, не допускающие наличие ошибок или неточностей.
                       </div>
                   </td>
                   <td align="left" valign="center" style="padding: 5px">
                       {{ order.price_profi }} руб.
                   </td>
               </tr>
{#               <tr style="font-size: 13px">#}
{#                   <td align="left" valign="center" style="background: #DDDDDD;  padding: 5px">#}
{#                       Ссылка для входа:#}
{#                   </td>#}
{#                   <td align="left" valign="center">#}
{#                       <a href="http://prolingva.ru/ru/dashbrd/login/">http://prolingva.ru/ru/dashbrd/login/</a>#}
{#                   </td>#}
{#               </tr>#}
           </table>
       </td>
    </tr>
    <tr>
        <td style="padding-bottom: 10px; padding-top: 10px; font-size: 12px; text-align: justify" colspan="2">
            Для подтверждения заявки и дальнейшей работы над ней, необходимо произвести оплату. Вы это можете сделать, войдя в свой личный кабинет <a href="http://prolingva.ru/ru/dashbrd/login/">http://prolingva.ru/ru/dashbrd/login/</a> и оплатить, используя доступные способы в разделе ОПЛАТА детализации заявки.
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding-bottom: 10px; padding-top: 5px; font-size: 12px; color: #9d9d9d; text-align: justify" colspan="2">
            Мы постоянно работаем над функциональным расширением портала. О всех изменениях мы будем Вам сообщать дополнительно. Если у Вас имеются пожелания по расширению функционала или замечания по существующему, будем рады их получить на почту <a href="mailto:support@prolingva.ru">support@prolingva.ru</a>. Для нас важно Ваше мнение!
        </td>
    </tr>
    <tr style="font-size: 13px">
        <td align="left" style="padding-top: 10px">
            С уважением,<br/>
            Команда PROLINGVA
        </td>
        <td align="right" style="padding-top: 10px" valign="top">
            <a href="mailto:info@prolingva.ru">info@prolingva.ru</a>
        </td>
    </tr>

</table>
{#    <div class="margin-left--20 translation_file list-group-item row" style="padding: 10px; border: 1px solid #ddd; font-family: Roboto, Sans-Serif">#}
{#        {% if ID %}#}
{#        <div>#}
{#            ID: {{ ID }}#}
{#        </div>#}
{#        {% endif %}#}
{#        <div>#}
{#            Тип: {{ type }}#}
{#        </div>#}
{##}
{#        <div>#}
{#            Клиент: {{ client }}#}
{#        </div>#}
{#        {% if email %}#}
{#        <div>#}
{#            Email: {{ email }}#}
{#        </div>#}
{#       {% endif %}#}
{#        {% if tel %}#}
{#        <div>#}
{#            Телефон: {{ tel }}#}
{#        </div>#}
{#        {% endif %}#}
{#        {% if message %}#}
{#        <div>#}
{#            Сообщение: {{ message }}#}
{#        </div>#}
{#        {% endif %}#}
{#        {% if order_type %}#}
{#        <div>#}
{#            Тип перевода: {{ order_type }}#}
{#        </div>#}
{#        {% endif %}#}
{#        {% if order_theme %}#}
{#        <div>#}
{#            Тип перевода: {{ order_theme }}#}
{#        </div>#}
{#        {% endif %}#}
{##}
{##}
        {#        <img src="/static/img/logo/logo1_white.png">#}
{#    </div>#}
</body>
</html>
{% endblock %}