{% load staticfiles %}
{% block subject %}{{ type }} {% endblock %}
{% block html %}
<html>
<body>
    <div class="margin-left--20 translation_file list-group-item row" style="padding: 10px; border: 1px solid #ddd; font-family: Roboto, Sans-Serif">
        <div style="border-bottom: 1px #ddd solid; margin-bottom: 10px">
            <img src="{{ logo }}">

        </div>
        {% if ID %}
        <div>
            ID: {{ ID }}
        </div>
        {% endif %}
        <div>
            Тип: {{ type }}
        </div>

        <div>
            Клиент: {{ client }}
        </div>
        {% if email %}
        <div>
            Email: {{ email }}
        </div>
       {% endif %}
        {% if tel %}
        <div>
            Телефон: {{ tel }}
        </div>
        {% endif %}
        {% if message %}
        <div>
            Сообщение: {{ message }}
        </div>
        {% endif %}
        {% if order_type %}
        <div>
            Тип перевода: {{ order_type }}
        </div>
        {% endif %}
        {% if order_theme %}
        <div>
            Тип перевода: {{ order_theme }}
        </div>
        {% endif %}


        {#        <img src="/static/img/logo/logo1_white.png">#}
    </div>
</body>
</html>
{% endblock %}